*.map
*.gba
*.bak
*.elf
*.sav
build/
/build.ninja
/.ninja_deps
/.ninja_log
__pycache__/
payload/build
tools/agbcc
tools/binutils
*.exe
*.lz
*.dump
.idea
payload/payload.bin
/assets/*
!/assets/.gitkeep
